resources:
- manifests.yaml
- service.yaml

configurations:
- kustomizeconfig.yaml

# Comment this if you have a k8s cluster < 1.15 as objectSelector is only available in >=1.15
patchesJson6902:
- target:
    group: admissionregistration.k8s.io
    version: v1
    kind: ValidatingWebhookConfiguration
    name: validating-webhook-configuration
  path: patch_webhook.yaml
