.rst-versions .rst-current-version {
    background-color: #3f51b5 !important;
    color: #fff !important;
}

.rst-versions {
    background-color: #fff !important;
}

.rst-versions .rst-other-versions dd a {
    color: #3f51b5 !important
}