pytest==8.4.2
pytest-xdist==3.8.0
pytest-cov==7.0.0
flaky==3.8.1
tenacity==9.1.2
sh==2.2.2

# notebooks test deps
ipython==9.6.0
nbconvert==7.16.6
alibi==0.9.6
shap==0.49.1
matplotlib==3.10.7
tensorflow==2.17.1
tabulate==0.9.0
Jinja2==3.1.6

# 2nd lvl dep on cov required to avoid sqllite dep
coverage==7.11.0

# Required to build mock test images
mlserver==1.7.1

# Required to build protos
grpcio-tools==1.70.0