---
- include_role:
    name: seldonio.k8s.strimzi_kafka
  when: install_kafka | bool

- name: "Create Kafka Cluster"
  kubernetes.core.helm:
    state: present
    force: yes
    namespace: "{{ kafka_namespace }}"
    name: "seldon-core-v2-kafka"
    chart_ref: "{{ repo_root_dir }}/kafka/strimzi"
    values: "{{ kafka_cluster_values }}"
    wait: yes
    wait_timeout: "{{ kafka_wait_timeout }}"
  when: ecosystem_configure_kafka | bool
