---
- include_role:
    name: strimzi
  when: install_kafka | bool

- name: "Create Kafka Cluster"
  kubernetes.core.helm:
    state: present
    namespace: "{{ seldon_kafka_namespace }}"
    name: "seldon-core-v2-kafka"
    chart_ref: "{{ repo_root_dir }}/kafka/strimzi"
    values: "{{ seldon_kafka_cluster_values }}"
    force: "{{ helm_force_install }}"
  when: configure_kafka | bool
