# build
/target/
cluster-manager/.m2/

# eclipse
.classpath
.settings/
.project

/bin/
*~
*.pyc
.m2
\#*
_*.yaml
_*.json

api-frontend/apife.json
api-frontend/apife_istio.json
api-frontend/src/main/proto/prediction.proto
api-frontend/tests/API_ENDPOINT
api-frontend/tests/api-client-key.txt
api-frontend/tests/api-client-secret.txt
api-frontend/tests/python/prediction_pb2.py
api-frontend/tests/python/seldonengine_pb2.py
cluster-manager/cluster-manager-client-secret.txt
cluster-manager/cluster-manager.json
api-frontend/target/
cluster-manager/src/main/proto/seldonengine.proto
cluster-manager/target/
cluster-manager/tests/CLUSTER_MANAGER_ENDPOINT
cluster-manager/tests/out.log
engine/src/main/proto/prediction.proto
engine/src/main/proto/seldonengine.proto
pyseldon/build/
pyseldon/dist/
pyseldon/seldon.egg-info/
redis-memonly/redis-memonly.json
tests/API_ENDPOINT
tests/CLUSTER_MANAGER_ENDPOINT
tests/out.log
cluster-manager/settings.sh
engine/target/
zookeeper-k8s/zookeeper.json
kafka/tests/src/prediction_pb2.py
kafka/tests/src/seldonengine_pb2.py
monitoring/alertmanager/config.yml
monitoring/grafana/auth/grafana-prom-admin-password.txt