# build
/target/
cluster-manager/.m2/

.ipynb_checkpoints

# eclipse
.classpath
.settings/
.project

/bin/
*~
*.pyc
.m2
\#*
_*.yaml
_*.json

util/custom-resource-definitions/pod-template-spec-validation.tpl
util/custom-resource-definitions/pod-template-spec.json
util/custom-resource-definitions/swagger.json
api-frontend/src/main/proto/seldon_deployment.proto
engine/src/main/proto/k8s.io/
engine/src/main/proto/seldon_deployment.proto
engine/src/main/proto/v1.proto
api-frontend/settings.sh
api-frontend/apife.json
api-frontend/apife_istio.json
api-frontend/src/main/proto/prediction.proto
api-frontend/tests/API_ENDPOINT
api-frontend/tests/api-client-key.txt
api-frontend/tests/api-client-secret.txt
api-frontend/tests/python/prediction_pb2.py
api-frontend/tests/python/seldonengine_pb2.py
api-frontend/src/main/proto/k8s.io/
api-frontend/src/main/proto/v1.proto
api-frontend/src/main/proto/seldonengine.proto
cluster-manager/cluster-manager-client-secret.txt
cluster-manager/cluster-manager.json
api-frontend/target/
cluster-manager/src/main/proto/seldon_deployment.proto
cluster-manager/target/
cluster-manager/tests/CLUSTER_MANAGER_ENDPOINT
cluster-manager/tests/out.log
cluster-manager/src/main/proto/k8s.io
cluster-manager/src/main/proto/v1.proto
cluster-manager/java_client/
engine/src/main/proto/prediction.proto
engine/src/main/proto/seldonengine.proto
pyseldon/build/
pyseldon/dist/
pyseldon/seldon.egg-info/
redis-memonly/redis-memonly.json
tests/API_ENDPOINT
tests/CLUSTER_MANAGER_ENDPOINT
tests/out.log
cluster-manager/settings.sh
engine/target/
zookeeper-k8s/zookeeper.json
kafka/tests/src/prediction_pb2.py
kafka/tests/src/seldonengine_pb2.py
monitoring/alertmanager/config.yml
monitoring/grafana/auth/grafana-prom-admin-password.txt
monitoring/glusterfs-volume/_glusterfs.json
*pb2.py
*pb2_grpc.py
wrappers/**/*.proto
pyseldon/**/*.proto
**/*/.ipynb_checkpoints
proto/k8s/k8s.io/
proto/k8s/v1.proto