# build
/target/
/public
cluster-manager/.m2/
.mypy_cache
.cache

.ipynb_checkpoints

# osx
.DS_Store

# Tags
.tags

# eclipse
.classpath
.settings/
.project

# Netbeans and IntelliJ files
!.gitignore
/nbproject
/*.ipr
/*.iws
*.iml
.idea

/bin/
*~
*.pyc
.m2
\#*
_*.yaml
_*.json

helm-charts/build
util/custom-resource-definitions/pod-template-spec-validation.tpl
util/custom-resource-definitions/pod-template-spec.json
util/custom-resource-definitions/swagger.json
api-frontend/src/main/proto/seldon_deployment.proto
engine/src/main/proto/io/
engine/src/main/proto/k8s.io/
engine/src/main/proto/seldon_deployment.proto
engine/src/main/proto/v1.proto
engine/src/main/proto/prediction.proto
engine/src/main/proto/seldonengine.proto
redis-memonly/redis-memonly.json
tests/API_ENDPOINT
tests/CLUSTER_MANAGER_ENDPOINT
tests/out.log
cluster-manager/settings.sh
engine/target/
incubating/wrappers/java/target/
incubating/wrappers/java/src/main/proto/prediction.proto
incubating/wrappers/java/src/main/proto/tensorflow/
zookeeper-k8s/zookeeper.json
monitoring/alertmanager/config.yml
monitoring/grafana/auth/grafana-prom-admin-password.txt
monitoring/glusterfs-volume/_glusterfs.json
wrappers/**/*.proto
**/*/.ipynb_checkpoints
proto/k8s/k8s.io/
proto/k8s/v1.proto

notebooks/**/*.proto
*pb2.py
*pb2_grpc.py
!python/seldon_core/proto/*_pb2.py
!python/seldon_core/proto/*_pb2_grpc.py
!python/seldon_core/proto/**/*_pb2.py
!python/seldon_core/proto/**/*_pb2_grpc.py
examples/models/keras_mnist/build/
examples/models/mean_classifier/build/
notebooks/my-ml-deployment/

wrappers/s2i/python/_wrappers

.Rhistory
examples/models/pyspark_pmml/metastore_db
examples/models/pyspark_pmml/data
examples/models/pyspark_pmml/derby.log
examples/models/pyspark_pmml/mnist_train.csv
examples/models/pyspark_pmml/src/main/resources/model.pmml
examples/models/pyspark_pmml/.gitignore
examples/models/h2o_mojo/src/main/resources/model.zip

#created model folders
examples/models/sklearn_iris/IrisClassifier.sav
examples/istio/canary_update/MNIST_data/
examples/istio/canary_update/tmp/
examples/models/keras_mnist/MnistClassifier.h5
examples/models/keras_mnist/data/
examples/models/keras_mnist/tensorboardlogs_test/
examples/models/chainer_mnist/result/
examples/models/r_iris/model.Rds
examples/models/r_mnist/model.Rds
examples/models/r_mnist/t10k-images-idx3-ubyte
examples/models/r_mnist/t10k-labels-idx1-ubyte
examples/models/r_mnist/train-images-idx3-ubyte
examples/models/r_mnist/train-labels-idx1-ubyte
examples/models/sklearn_iris_fbs/IrisClassifier.sav
examples/models/mlflow_server_ab_test_ambassador/mlruns

# Pickle files
*.pickle

# api tester created proto folder
util/api_tester/proto/

#flatbuffers
wrappers/testing/fbs/
wrappers/python/fbs/

#ONNX example
examples/models/onnx_resnet50/cpu_codegen/Function_0_codegen.cpp
examples/models/onnx_resnet50/resnet.onnx

#logging example
examples/centralised-logging/istio-**
examples/centralised-logging/tempresources/
examples/centralised-logging/tempresources/**

#openapi
engine/src/main/resources/static/seldon.json
api-frontend/src/main/resources/static/seldon.json
wrappers/python/seldon.json

testing/notebooks/my-ml-deployment/
testing/notebooks/my-model/
testing/notebooks/proto/prediction.proto
testing/notebooks/tensorflow/
api-frontend/pom.xml.versionsBackup
api-frontend/src/main/proto/tensorflow/
cluster-manager/pom.xml.versionsBackup
engine/pom.xml.versionsBackup
engine/src/main/proto/tensorflow/

seldon-core/seldon-core/json/template_0.2.yaml
seldon-core/seldon-core/json/template_0.2_cluster_wide.yaml
seldon-core/seldon-core/json/template_0.2_single_namespace.yaml
openapi/prediction.grpcapi.proto
openapi/prediction.grpcapi.swagger.json
openapi/tensorflow/
proto/tensorflow/tensorflow/

util/loadtester/MNIST_data/

# python build
eggs/
.eggs/
*.egg-info/
./pytest_cache

examples/models/sagemaker/sagemaker-scikit-learn-container
examples/models/sagemaker/aws-config-secret.yaml
examples/models/sagemaker/scikit_learn_iris_code.tar.gz
examples/models/sagemaker/scikit_learn_iris_deployment.json

#go example
examples/wrappers/go/.idea

util/custom-resource-definitions/hpa-spec.json
wrappers/s2i/python_openvino/s2i

components/outlier-detection/seq2seq-lstm/data/ECG5000.txt
components/outlier-detection/seq2seq-lstm/data/ECG5000_TEST.arff
components/outlier-detection/seq2seq-lstm/data/ECG5000_TEST.txt
components/outlier-detection/seq2seq-lstm/data/ECG5000_TRAIN.arff
components/outlier-detection/seq2seq-lstm/data/ECG5000_TRAIN.txt

examples/models/nodejs_mnist/model.json
examples/models/nodejs_mnist/weights.bin
examples/models/nodejs_tensorflow/model.json
examples/models/nodejs_tensorflow/weights.bin
examples/models/onnx_resnet50/resnet50.tar.gz.1
examples/models/onnx_resnet50/resnet50.tar.gz.2
examples/models/onnx_resnet50/resnet50/

doc/_build
doc/source/_static/cluster-manager
doc/source/examples/images
doc/source/examples/img
doc/source/examples/assets
doc/source/examples/*.png

python/build/
python/dist/
testing/scripts/proto
testing/scripts/test.log
python/.coverage

testing/scripts/tensorflow
testing/scripts/run.log
testing/scripts/my-model/
wrappers/s2i/python/_python/
incubating/wrappers/s2i/java-jni/_python/

seldon-controller/go

testing/scripts/go

# pyenv
.python-version
.tox

operator/operator.tar
operator/helm/tmp/

# vim
*.swp

notebooks/helm_examples.py
notebooks/*.py
examples/ambassador/canary/ambassador_canary.py
examples/ambassador/custom/ambassador_custom.py
examples/ambassador/headers/ambassador_headers.py
examples/ambassador/shadow/ambassador_shadow.py
examples/models/metrics/metrics.py
examples/models/custom_metrics/customMetrics.py
examples/models/tracing/tracing.py
examples/models/autoscaling/autoscaling_example.py

# testing
*.coverprofile
*.log

# vscode local history
.history/
.vscode/

# python venv
venv*/
