sudo: required
services:
- docker
branches:
  only:
  - master
  - release-0.4
  - travis-update
jobs:
  include:
  - stage: build-components
    script:
    - echo Building engine
    - |
      set -x && \
      docker run --rm -it \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v ${HOME}/.m2:/root/.m2 \
          -v $(pwd):/work \
          seldonio/core-builder:0.7 bash -c 'cd engine && make -f Makefile.ci build'
    - docker images | grep 'seldonio/engine'

notifications:
  slack:
    secure: HE0+D/nkZxEes5EStfbSG5x7/+DFjH06b21YysiyR7eApi0Oj6szCT0OLYyQbV3Rs8Pz9oJZIJvG/cBiQGHGVKHPna3o4Ny7y66WBJrthUGc53tWDf6TGbqIBmUrEOQlxzzZ03oVYdwsS0dCbRA8IZCgVKEBxii2AQ1IQyetGhMY0YxjbqCKFlgwaUvplugXT7ZkGpxr8icygeEDJnii7g+TqKGCVpdPnBJPjd6ey5O/biADEBGsrYMiNQ+hshjwmf1sViNFdclnUpPNLrD8WES84DHvE5h8sgRnVk+fgNBpVN5ItQFNyK4BIWxTkRY5KJV89otrYeyodPPPd/dEm0LfNqw0B/wd5dnU1uxUAtFZguZ4mnZohWp3vhCx/SWn1qWS3ojr7sIhKu7GbCgj2uzBO2n7DiE8q4hlDI8yfh5ny+2pLQNaJlnZ8bwHRksv1tz7BPpHUHyMBH9gy8SwXd0oRpgotDSQN6QsLVLBLsM70dGSLqQJ9M3rAMCyv8lxgOdn59GeauEAv48LBfUBijn/0wC/GiulG34XA6FopLQ0RPdwjy7mV+U2urTdw5EybtwREvhKILaVEI9ul+GHXHhiZFMmAXd7ZGzrm9w3XZI2mMAecIwvD2WboUwvswb3Gpdxs9a/krD/XU/DtVnS7TAgX/JPMJO+eDZmPjqENn4=

