apiVersion: apps/v1
kind: Deployment
metadata:
  name: pipelinegateway
  labels:
    app: pipelinegateway
spec:
  selector:
    matchLabels:
      app: pipelinegateway
  replicas: 1
  template:
    metadata:
      labels:
        app: pipelinegateway
    spec:
      securityContext:
        runAsUser: 8888
      containers:
      - command:
        - /bin/pipelinegateway
        args:
        - --http-port=9010
        - --grpc-port=9011
        - --metrics-port=9006
        - --kafka-config-path=/mnt/kafka/kafka.json
        - --tracing-config-path=/mnt/tracing/tracing.json
        image: pipelinegateway:latest
        imagePullPolicy: IfNotPresent
        name: pipelinegateway
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
        ports:
        - containerPort: 9010
          name: http
          protocol: TCP
        - containerPort: 9011
          name: grpc
          protocol: TCP
        - containerPort: 9006
          name: metrics
          protocol: TCP
        volumeMounts:
        - name: kafka-config-volume
          mountPath: /mnt/kafka
        - name: tracing-config-volume
          mountPath: /mnt/tracing
      volumes:
      - name: kafka-config-volume
        configMap:
          name: seldon-kafka
      - name: tracing-config-volume
        configMap:
          name: seldon-tracing
      terminationGracePeriodSeconds: 5
      serviceAccountName: scheduler
