apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: envoy
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: seldon-envoy
  namespaceSelector:
    matchNames: []
    any: false
  endpoints:
  - port: stats
    interval: 15s
    path: /stats/prometheus
