version: 2.1

orbs:
  go: circleci/go@1.7.1

parameters:
  kustomize-version:
    type: string
    default: v4.5.7

jobs:
  build-and-push:
    docker:
     - image: cimg/base:2022.08
    resource_class: medium
    steps:
      - go/install:
          version: "1.17"
      - run:
          name: "Install kustomize"
          command: |
            URL=https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize/<< pipeline.parameters.kustomize-version >>/kustomize_<< pipeline.parameters.kustomize-version >>_linux_amd64.tar.gz
            curl -L $URL | tar zx

            [ -w /usr/local/bin ] && SUDO="" || SUDO=sudo
            $SUDO chmod +x ./kustomize
            $SUDO mv ./kustomize /usr/local/bin
      - setup_remote_docker:
          version: 20.10.14
      - checkout
      - run:
          name: "Docker login"
          command: docker login ${DOCKER_REGISTRY} -u ${DOCKER_USERNAME} -p ${DOCKER_PASSWORD}
      - run:
          name: "Seldon-core Domino Build & Push Script"
          command: ./domino-build.sh
      - persist_to_workspace:
          root: ~/
          paths:
            - ./*

  test:
      machine:
        image: ubuntu-2004:202107-02
      environment:
        KUBECONFIG: "/etc/rancher/k3s/k3s.yaml"
        HELM_VERSION: "v3.6.3"
        KUSTOMIZE_VERSION: "v4.3.0"
        K3S_KUBECONFIG_MODE: "644"
      steps:
        - attach_workspace:
            at: ~/
        - checkout
        - run:
            name: Directory Listing
            command: ls -ltR ~
        - run:
            name: Install and Launch Kubernetes
            command: curl -sfL https://get.k3s.io | INSTALL_K3S_VERSION=v1.24.3+k3s1 sh -x -
        - run:
            name: Install Helm
            command: |
              curl -L https://get.helm.sh/helm-${HELM_VERSION}-linux-amd64.tar.gz | tar -xvz -C /tmp
              sudo mv /tmp/linux-amd64/helm /usr/local/bin/
        - run:
            name: Setup
            command: ./test/seldon/setup/install-all
        - run:
            name: Creating Basic Models
            command: ./test/seldon/model/create-models
        - run:
            name: Testing Basic Models
            command: ./test/seldon/model/test-models
        - run:
            name: Deleting Basic Models
            command: ./test/seldon/model/delete-models
        - run:
            name: Creating RabbitMQ Models
            command: ./test/seldon/model/create-rabbit-models
        - run:
            name: Testing RabbitMQ Models
            command: ./test/seldon/model/test-rabbit-models
        - run:
            name: Deleting RabbitMQ Models
            command: ./test/seldon/model/delete-rabbit-models
        - run:
            name: Teardown
            command: ./test/seldon/setup/uninstall-all

workflows:
  version: 2
  main:
    jobs:
      - build-and-push:
          context:
            - org-global
          filters:
            tags:
              only: /v\d+(\.\d+)*(-.*)*/
      - test:
          context:
            - org-global
          requires:
            - build-and-push
          filters:
            tags:
              only: /v\d+(\.\d+)*(-.*)*/
