version: 2
jobs:
  build-api-frontend:
    docker:
      - image: seldonio/core-builder:0.7

    working_directory: /work

    steps:
      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          shell: /bin/sh
          command: |
            echo Building api-frontend
            cd api-frontend
            make -f Makefile.ci build

  build-engine:
    docker:
      - image: seldonio/core-builder:0.7

    working_directory: /work

    steps:
      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          shell: /bin/sh
          command: |
            echo Building engine
            cd engine
            make -f Makefile.ci build

  cluster-manager:
    docker:
      - image: seldonio/core-builder:0.7

    working_directory: /work

    steps:
      - checkout

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          shell: /bin/sh
          command: |
            echo Building cluster-manager
            cd cluster-manager
            make -f Makefile.ci build

workflows:
  version: 2
  build:
    jobs:
      - build-api-frontend
      - build-engine
      - cluster-manager

