groups:
- name: instance-availability.rules
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 1m
    labels:
      context: unknown
      severity: page
    annotations:
      description: '{{ $labels.instance }} of job {{ $labels.job }} has been down
        for more than 1 minute.'
      summary: Instance {{ $labels.instance }} down
