apiVersion: mlops.seldon.io/v1alpha1
kind: ServerConfig
metadata:
  name: triton
spec:
  podSpec:
    imagePullSecrets: []
    containers:
    - image: '{{ .Values.serverConfig.rclone.image.registry }}/{{ .Values.serverConfig.rclone.image.repository }}:{{ .Values.serverConfig.rclone.image.tag }}'
      imagePullPolicy: '{{ .Values.serverConfig.rclone.image.pullPolicy }}'
      name: rclone
      resources:
        requests:
          cpu: '{{ .Values.serverConfig.rclone.resources.cpu }}'
          memory: '{{ .Values.serverConfig.rclone.resources.memory }}'
        limits:
          memory: '{{ .Values.serverConfig.rclone.resources.memory }}'
    - env:
      - name: SELDON_SERVER_CAPABILITIES
        value: '{{ .Values.serverConfig.triton.serverCapabilities }}'
      - name: SELDON_MODEL_INFERENCE_LAG_THRESHOLD
        value: '{{ .Values.serverConfig.agent.modelInferenceLagThreshold }}'
      - name: SELDON_MODEL_INACTIVE_SECONDS_THRESHOLD
        value: '{{ .Values.serverConfig.agent.modelInactiveSecondsThreshold }}'
      - name: SELDON_SCALING_STATS_PERIOD_SECONDS
        value: '{{ .Values.serverConfig.agent.scalingStatsPeriodSeconds }}'
      - name: SELDON_MAX_TIME_READY_SUB_SERVICE_AFTER_START_SECONDS
        value: '{{ .Values.serverConfig.agent.maxElapsedTimeReadySubServiceAfterStartSeconds }}'
      - name: SELDON_MAX_ELAPSED_TIME_READY_SUB_SERVICE_BEFORE_START_MINUTES
        value: '{{ .Values.serverConfig.agent.maxElapsedTimeReadySubServiceBeforeStartMinutes }}'
      - name: SELDON_PERIOD_READY_SUB_SERVICE_SECONDS
        value: '{{ .Values.serverConfig.agent.periodReadySubServiceSeconds }}'
      - name: SELDON_MAX_LOAD_ELAPSED_TIME_MINUTES
        value: '{{ .Values.serverConfig.agent.maxLoadElapsedTimeMinutes }}'
      - name: SELDON_MAX_UNLOAD_ELAPSED_TIME_MINUTES
        value: '{{ .Values.serverConfig.agent.maxUnloadElapsedTimeMinutes }}'
      - name: SELDON_MAX_LOAD_RETRY_COUNT
        value: '{{ .Values.serverConfig.agent.maxLoadRetryCount }}'
      - name: SELDON_MAX_UNLOAD_RETRY_COUNT
        value: '{{ .Values.serverConfig.agent.maxUnloadRetryCount }}'
      - name: SELDON_OVERCOMMIT_PERCENTAGE
        value: '{{ .Values.serverConfig.agent.overcommitPercentage }}'
      - name: CONTROL_PLANE_SECURITY_PROTOCOL
        value: '{{ .Values.security.controlplane.protocol }}'
      - name: CONTROL_PLANE_CLIENT_TLS_SECRET_NAME
        value: '{{ .Values.security.controlplane.ssl.client.secret }}'
      - name: CONTROL_PLANE_SERVER_TLS_SECRET_NAME
        value: '{{ .Values.security.controlplane.ssl.client.serverValidationSecret }}'
      - name: CONTROL_PLANE_CLIENT_TLS_KEY_LOCATION
        value: '{{ .Values.security.controlplane.ssl.client.keyPath }}'
      - name: CONTROL_PLANE_CLIENT_TLS_CRT_LOCATION
        value: '{{ .Values.security.controlplane.ssl.client.crtPath }}'
      - name: CONTROL_PLANE_CLIENT_TLS_CA_LOCATION
        value: '{{ .Values.security.controlplane.ssl.client.caPath }}'
      - name: CONTROL_PLANE_SERVER_TLS_CA_LOCATION
        value: '{{ .Values.security.controlplane.ssl.client.serverCaPath }}'
      - name: ENVOY_SECURITY_PROTOCOL
        value: '{{ .Values.security.envoy.protocol }}'
      - name: ENVOY_UPSTREAM_SERVER_TLS_SECRET_NAME
        value: '{{ .Values.security.envoy.ssl.upstream.server.secret }}'
      - name: ENVOY_UPSTREAM_CLIENT_TLS_SECRET_NAME
        value: '{{ .Values.security.envoy.ssl.upstream.server.clientValidationSecret }}'
      - name: ENVOY_UPSTREAM_SERVER_TLS_KEY_LOCATION
        value: '{{ .Values.security.envoy.ssl.upstream.server.keyPath }}'
      - name: ENVOY_UPSTREAM_SERVER_TLS_CRT_LOCATION
        value: '{{ .Values.security.envoy.ssl.upstream.server.crtPath }}'
      - name: ENVOY_UPSTREAM_SERVER_TLS_CA_LOCATION
        value: '{{ .Values.security.envoy.ssl.upstream.server.caPath }}'
      - name: ENVOY_UPSTREAM_CLIENT_TLS_CA_LOCATION
        value: '{{ .Values.security.envoy.ssl.upstream.server.clientCaPath }}'
      image: '{{ .Values.serverConfig.agent.image.registry }}/{{ .Values.serverConfig.agent.image.repository }}:{{ .Values.serverConfig.agent.image.tag }}'
      imagePullPolicy: '{{ .Values.serverConfig.agent.image.pullPolicy }}'
      name: agent
      resources:
        requests:
          cpu: '{{ .Values.serverConfig.agent.resources.cpu }}'
          memory: '{{ .Values.serverConfig.agent.resources.memory }}'
        limits:
          memory: '{{ .Values.serverConfig.agent.resources.memory }}'
    - image: '{{ .Values.serverConfig.triton.image.registry }}/{{ .Values.serverConfig.triton.image.repository }}:{{ .Values.serverConfig.triton.image.tag }}'
      imagePullPolicy: '{{ .Values.serverConfig.triton.image.pullPolicy }}'
      name: triton
      resources:
        requests:
          cpu: '{{ .Values.serverConfig.triton.resources.cpu }}'
          memory: '{{ .Values.serverConfig.triton.resources.memory }}'
        limits:
          memory: '{{ .Values.serverConfig.triton.resources.memory }}'
  volumeClaimTemplates:
  - name: triton-models
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: '{{ .Values.serverConfig.triton.modelVolumeStorage }}'
