apiVersion: mlops.seldon.io/v1alpha1
kind: SeldonConfig
metadata:
  name: default
spec:
  components:
  - name: seldon-dataflow-engine
    replicas: 1
    podSpec:
      imagePullSecrets: []
      containers:
      - image: '{{ .Values.dataflow.image.registry }}/{{ .Values.dataflow.image.repository }}:{{ .Values.dataflow.image.tag }}'
        imagePullPolicy: '{{ .Values.dataflow.image.pullPolicy }}'
        name: dataflow-engine
        env:
        - name: SELDON_KAFKA_BOOTSTRAP_SERVERS
          value: '{{ .Values.kafka.bootstrap }}'
        - name: SELDON_KAFKA_CONSUMER_PREFIX
          value: '{{ .Values.kafka.consumerGroupIdPrefix }}'
        - name: SELDON_KAFKA_REPLICATION_FACTOR
          value: '{{ .Values.kafka.topics.replicationFactor }}'
        - name: SELDON_KAFKA_PARTITIONS_DEFAULT
          value: '{{ .Values.kafka.topics.numPartitions }}'
        - name: SELDON_KAFKA_MAX_MESSAGE_SIZE_BYTES
          value: '{{ int .Values.kafka.consumer.messageMaxBytes }}'
        - name: SELDON_KAFKA_SECURITY_PROTOCOL
          value: '{{ .Values.security.kafka.protocol }}'
        - name: SELDON_KAFKA_TLS_CLIENT_SECRET
          value: '{{ .Values.security.kafka.ssl.client.secret }}'
        - name: SELDON_KAFKA_TLS_CLIENT_KEY_PATH
          value: '{{ .Values.security.kafka.ssl.client.keyPath }}'
        - name: SELDON_KAFKA_TLS_CLIENT_CERT_PATH
          value: '{{ .Values.security.kafka.ssl.client.crtPath }}'
        - name: SELDON_KAFKA_TLS_CLIENT_CA_PATH
          value: '{{ .Values.security.kafka.ssl.client.caPath }}'
        - name: SELDON_KAFKA_TLS_BROKER_SECRET
          value: '{{ .Values.security.kafka.ssl.client.brokerValidationSecret }}'
        - name: SELDON_KAFKA_TLS_BROKER_CA_PATH
          value: '{{ .Values.security.kafka.ssl.client.brokerCaPath }}'
        - name: SELDON_KAFKA_TLS_ENDPOINT_IDENTIFICATION_ALGORITHM
          value: '{{ .Values.security.kafka.ssl.client.endpointIdentificationAlgorithm }}'
        - name: SELDON_KAFKA_SASL_MECHANISM
          value: '{{ .Values.security.kafka.sasl.mechanism }}'
        - name: SELDON_KAFKA_SASL_USERNAME
          value: '{{ .Values.security.kafka.sasl.client.username }}'
        - name: SELDON_KAFKA_SASL_SECRET
          value: '{{ .Values.security.kafka.sasl.client.secret }}'
        - name: SELDON_KAFKA_SASL_PASSWORD_PATH
          value: '{{ .Values.security.kafka.sasl.client.passwordPath }}'
        - name: SELDON_KAFKA_SCHEMA_REGISTRY_URL
          value: '{{ .Values.security.schemaRegistry.client.URL }}'
        - name: SELDON_KAFKA_SCHEMA_REGISTRY_USERNAME
          value: '{{ .Values.security.schemaRegistry.client.username }}'
        - name: SELDON_KAFKA_SCHEMA_REGISTRY_PASSWORD
          value: '{{ .Values.security.schemaRegistry.client.password }}'
        - name: SELDON_KAFKA_TLS_BROKER_SECRET
          value: '{{ .Values.security.kafka.ssl.client.brokerValidationSecret }}'
        - name: SELDON_TLS_ENDPOINT_IDENTIFICATION_ALGORITHM
          value: '{{ .Values.security.kafka.ssl.client.endpointIdentificationAlgorithm }}'
        - name: SELDON_CORES_COUNT
          value: '{{ .Values.dataflow.cores }}'
        - name: SELDON_LOG_LEVEL_APP
          value: '{{ hasKey .Values.dataflow "logLevel" | ternary .Values.dataflow.logLevel .Values.logging.logLevel | upper }}'
        - name: SELDON_LOG_LEVEL_KAFKA
          value: '{{ hasKey .Values.dataflow "logLevelKafka" | ternary .Values.dataflow.logLevelKafka .Values.logging.logLevel | upper }}'
        - name: SELDON_PIPELINE_CTLOPS_THREADS
          value: '{{ .Values.dataflow.pipelineCtlopsThreads }}'
        - name: SELDON_HEALTH_SERVER_PORT
          value: "8000"
        resources:
          requests:
            cpu: '{{ .Values.dataflow.resources.cpu }}'
            memory: '{{ .Values.dataflow.resources.memory }}'
          limits:
            memory: '{{ .Values.dataflow.resources.memory }}'
