apiVersion: apps/v1
kind: Deployment
metadata:
  name: modelgateway
  labels:
    control-plane: seldon-modelgateway
spec:
  selector:
    matchLabels:
      control-plane: seldon-modelgateway
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: seldon-modelgateway
    spec:
      securityContext:
        runAsUser: 8888
      containers:
      - command:
        - /bin/modelgateway
        args:
        - --scheduler-host=seldon-scheduler
        - --scheduler-plaintxt-port=$(SELDON_SCHEDULER_PLAINTXT_PORT)
        - --scheduler-tls-port=$(SELDON_SCHEDULER_TLS_PORT)        
        - --envoy-host=seldon-mesh
        - --envoy-port=80
        - --kafka-config-path=/mnt/kafka/kafka.json
        - --tracing-config-path=/mnt/tracing/tracing.json
        image: modelgateway:latest
        imagePullPolicy: IfNotPresent
        name: modelgateway
        env:
          - name: SELDON_SCHEDULER_PLAINTXT_PORT
            value: "9004"
          - name: SELDON_SCHEDULER_TLS_PORT
            value: "9044"
          - name: SCHEDULER_TLS_SECRET_NAME
            value: ""
          - name: SCHEDULER_TLS_FOLDER_PATH
            value: ""
          - name: MODELGATEWAY_NUM_WORKERS
            value: "8"
          - name: MODELGATEWAY_MAX_NUM_CONSUMERS
            value: "100"
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
        volumeMounts:
        - name: kafka-config-volume
          mountPath: /mnt/kafka
        - name: tracing-config-volume
          mountPath: /mnt/tracing
      volumes:
      - name: kafka-config-volume
        configMap:
          name: seldon-kafka
      - name: tracing-config-volume
        configMap:
          name: seldon-tracing
      terminationGracePeriodSeconds: 5
      serviceAccountName: scheduler
