---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dataflow-engine
spec:
  template:
    spec:
      imagePullSecrets:
      - name: '{{ .Values.imagePullSecret }}'
      containers:
      - image: '{{ .Values.dataflow.image.registry }}/{{ .Values.dataflow.image.repository }}:{{ .Values.dataflow.image.tag }}'
        imagePullPolicy: '{{ .Values.dataflow.image.pullPolicy }}'
        name: dataflow-engine
        env:
        - name: SELDON_KAFKA_BOOTSTRAP_SERVERS
          value: '{{ .Values.kafka.bootstrap }}'
        - name: SELDON_KAFKA_REPLICATION_FACTOR
          value: '{{ .Values.kafka.topics.replicationFactor }}'
        - name: SELDON_KAFKA_PARTITIONS_DEFAULT
          value: '{{ .Values.kafka.topics.numPartitions }}'
        - name: SELDON_KAFKA_MAX_MESSAGE_SIZE_BYTES
          value: '{{ int .Values.kafka.consumer.messageMaxBytes }}'
        - name: SELDON_KAFKA_SECURITY_PROTOCOL
          value: '{{ .Values.security.kafka.protocol }}'
        - name: SELDON_KAFKA_TLS_CLIENT_SECRET
          value: '{{ .Values.security.kafka.ssl.client.secret }}'
        - name: SELDON_KAFKA_TLS_CLIENT_KEY_PATH
          value: '{{ .Values.security.kafka.ssl.client.keyPath }}'
        - name: SELDON_KAFKA_TLS_CLIENT_CERT_PATH
          value: '{{ .Values.security.kafka.ssl.client.crtPath }}'
        - name: SELDON_KAFKA_TLS_CLIENT_CA_PATH
          value: '{{ .Values.security.kafka.ssl.client.caPath }}'
        - name: SELDON_KAFKA_TLS_BROKER_SECRET
          value: '{{ .Values.security.kafka.ssl.client.brokerValidationSecret }}'
        - name: SELDON_KAFKA_TLS_BROKER_CA_PATH
          value: '{{ .Values.security.kafka.ssl.client.brokerCaPath }}'
        - name: SELDON_KAFKA_TLS_ENDPOINT_IDENTIFICATION_ALGORITHM
          value: '{{ .Values.security.kafka.ssl.client.endpointIdentificationAlgorithm }}'
        - name: SELDON_KAFKA_SASL_MECHANISM
          value: '{{ .Values.security.kafka.sasl.mechanism }}'
        - name: SELDON_KAFKA_SASL_USERNAME
          value: '{{ .Values.security.kafka.sasl.client.username }}'
        - name: SELDON_KAFKA_SASL_SECRET
          value: '{{ .Values.security.kafka.sasl.client.secret }}'
        - name: SELDON_KAFKA_SASL_PASSWORD_PATH
          value: '{{ .Values.security.kafka.sasl.client.passwordPath }}'
        - name: SELDON_KAFKA_TLS_BROKER_SECRET
          value: '{{ .Values.security.kafka.ssl.client.brokerValidationSecret }}'
        - name: SELDON_TLS_ENDPOINT_IDENTIFICATION_ALGORITHM
          value: '{{ .Values.security.kafka.ssl.client.endpointIdentificationAlgorithm }}'
        - name: SELDON_CORES_COUNT
          value: '{{ .Values.dataflow.cores }}'
        resources:
          requests:
            cpu: '{{ .Values.dataflow.resources.cpu }}'
            memory: '{{ .Values.dataflow.resources.memory }}'
          limits:
            memory: '{{ .Values.dataflow.resources.memory }}'
