sphinx==7.1.2
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.25.0
sphinx-copybutton==0.5.2
sphinxcontrib-youtube==1.4.1
sphinx-material==0.0.36
sphinx-design==0.5.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.0
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
readthedocs-sphinx-search==0.3.1
alabaster==0.7.13

m2r2==0.3.3.post2
sphinxcontrib-apidoc==0.4.0
nbsphinx==0.9.3
nbsphinx-link==1.3.0
ipykernel==6.28.0
ipython==8.12.0
Pygments==2.17.2
jinja2==3.1.2
pip-tools==7.3.0
