---
- name: "Install Seldon Core 2 components"
  kubernetes.core.helm:
    state: present
    name: "seldon-core-v2-components"
    namespace: "{{ seldon_mesh_namespace }}"
    chart_ref: "{{ repo_root_dir }}/k8s/helm-charts/seldon-core-v2-setup"
    values: "{{ seldon_core_v2_component_values }}"
    force: "{{ seldon_force_install_components }}"
    wait: yes
    wait_timeout: "{{ seldon_core_v2_timeout_helm }}"
