{
    "annotations": {
        "project_name": "{{project_name}}"
    },
    "id": "{{deployment_id}}",
    "name": "Example AB Test",
    "oauth_key": "{{oauth_key}}",
    "oauth_secret": "{{oauth_secret}}",
    "predictor": {
        "annotations": {
            "project_name": "{{project_name}}"
        },
        "enabled": true,
        "endpoint": {
            "service_host": "sd-12-p",
            "service_port": 8000,
            "type": "REST"
        },
        "id": "32805",
        "imagePullSecrets": [],
        "name": "{{predictor_name}}",
        "predictiveUnits": [
            {
                "children": [
                    "11",
                    "32804"
                ],
                "cluster_resources": {
                    "cpu": "",
                    "gpu": "",
                    "id": "",
                    "image": "",
                    "memory": "",
                    "version": ""
                },
                "endpoint": {
                    "service_host": "",
                    "service_port": 5000,
                    "type": "REST"
                },
                "id": "32805",
                "name": "abtest",
                "parameters": [
                    {
                        "name": "ratioA",
                        "type": "FLOAT",
                        "value": "0.5"
                    }
                ],
                "subtype": "RANDOM_ABTEST",
                "type": "ROUTER"
            },
            {
                "children": [],
                "cluster_resources": {
                    "cpu": "",
                    "gpu": "",
                    "id": "",
                    "image": "{{model_image_1}}",
                    "memory": "",
                    "version": "{{model_version_1}}"
                },
                "endpoint": {
                    "service_host": "localhost",
                    "service_port": 9001,
                    "type": "REST"
                },
                "id": "11",
                "name": "{{model_name_1}}",
                "parameters": [],
                "subtype": "MICROSERVICE",
                "type": "MODEL"
            },
            {
                "children": [],
                "cluster_resources": {
                    "cpu": "",
                    "gpu": "",
                    "id": "",
                    "image": "{{model_image_2}}",
                    "memory": "",
                    "version": "{{model_version_2}}"
                },
                "endpoint": {
                    "service_host": "localhost",
                    "service_port": 9002,
                    "type": "REST"
                },
                "id": "32804",
                "name": "{{model_name_2}}",
                "parameters": [],
                "subtype": "MICROSERVICE",
                "type": "MODEL"
            }
        ],
        "replicas": 1,
        "replicasReady": 1,
        "root": "32805"
    },
    "uniqueName": ""
}

