resources:
- mlserver.yaml
- triton.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: agent
  newName: seldonio/seldon-agent
  newTag: latest
- name: mlserver
  newName: seldonio/mlserver
  newTag: 1.3.5.rc1
- name: rclone
  newName: seldonio/seldon-rclone
  newTag: latest
- name: triton
  newName: nvcr.io/nvidia/tritonserver
  newTag: 23.03-py3
