---
- name: Create Kind Cluster for Seldon Core
  hosts: localhost
  roles:
    - kind
  vars:
    kind_use_many_workers: no

    kind_cluster_name: seldon

    # For compatible version of image for each kind version please see https://github.com/kubernetes-sigs/kind/releases
    kind_version: v0.17.0
    kind_image_version: kindest/node:v1.24.7@sha256:577c630ce8e509131eab1aea12c022190978dd2f745aac5eb1fe65c0807eb315

    kind_kubectl_default_namespace: seldon

  pre_tasks:
  - name: "Set custom Kind config to use many workers"
    set_fact:
      kind_config_file: files/kind_config.yaml
    when: kind_use_many_workers |  bool
