---
- name: Setup Seldon Core 2 Ecosystem
  hosts: localhost
  roles:
  - ecosystem
  vars:
    full_install: yes

    install_prometheus: "{{ full_install }}"
    install_grafana: "{{ full_install }}"
    install_kafka: "{{ full_install }}"
    install_certmanager: "{{ full_install }}"
    install_jaeger: "{{ full_install }}"
    install_opentelemetry: "{{ full_install }}"
    install_schema_registry: false
    install_clickhouse : false

    configure_prometheus: "{{ install_prometheus }}"
    configure_grafana: "{{ install_grafana }}"
    configure_kafka: "{{ install_kafka }}"
    configure_jaeger: "{{ install_jaeger }}"
    configure_opentelemetry: "{{ install_opentelemetry }}"
    configure_clickhouse: "{{ install_clickhouse }}"

    # Overwrite this variable if you want to DO NOT want to include any variable from defaults
    vars_file: vars/default.yaml

  pre_tasks:
  - name: "Load vars from {{ vars_file }}"
    include_vars: "{{ vars_file }}"
