repo_root_dir: "{{ inventory_dir }}/.."

seldon_mesh_namespace: seldon-mesh

# Installation on/off flags
install_prometheus: true
install_kafka: true
install_certmanager: true
install_jaeger: true
install_opentelemetry: true

# Configuration on/off flags
configure_prometheus: "{{ install_prometheus }}"
enable_kraft: "{{ install_kafka }}"
configure_kafka: "{{ install_kafka }}"
configure_jaeger: "{{ install_jaeger }}"
configure_opentelemetry: "{{ install_opentelemetry }}"

# Seldon Kafka Cluster Configuration
seldon_kafka_namespace: "{{ seldon_mesh_namespace }}"
seldon_kafka_cluster_values: {}

# Helm install
helm_force_install: false
