repo_root_dir: "{{ inventory_dir }}/.."

seldon_mesh_namespace: seldon-mesh
strimzi_kafka_namespace: seldon-mesh
seldon_kafka_namespace: seldon-mesh

kafka_wait_timeout: "300s"
kafka_cluster_values: {}
kafka_cluster_values_files: []

# Installation on/off flags
install_prometheus: true
install_kafka: true
install_certmanager: true
install_jaeger: true
install_opentelemetry: true

# Configuration on/off flags
configure_prometheus: "{{ install_prometheus }}"
enable_kraft: "{{ install_kafka }}"
configure_kafka: "{{ install_kafka }}"
configure_jaeger: "{{ install_jaeger }}"
configure_opentelemetry: "{{ install_opentelemetry }}"
