apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    control-plane: seldon-controller-manager
  name: config
data:
  credentials: |-
    {
       "gcs" : {
           "gcsCredentialFileName": "gcloud-application-credentials.json"
       },
       "s3" : {
           "s3AccessKeyIDName": "awsAccessKeyID",
           "s3SecretAccessKeyName": "awsSecretAccessKey"
       }
    }
  predictor_servers: |-
    {
        "TENSORFLOW_SERVER": {
          "protocols" : {
            "tensorflow": {
              "image": "tensorflow/serving",
              "defaultImageVersion": "2.1.0"
              },
            "seldon": {
              "image": "seldonio/tfserving-proxy",
              "defaultImageVersion": "1.13.0"
              }
            }
        },
        "SKLEARN_SERVER": {
          "protocols" : {
            "seldon": {
              "image": "seldonio/sklearnserver",
              "defaultImageVersion": "1.13.0"
              },
            "v2": {
              "image": "seldonio/mlserver",
              "defaultImageVersion": "1.0.0-sklearn"
              }
            }
        },
        "XGBOOST_SERVER": {
          "protocols" : {
            "seldon": {
              "image": "seldonio/xgboostserver",
              "defaultImageVersion": "1.13.0"
              },
            "v2": {
              "image": "seldonio/mlserver",
              "defaultImageVersion": "1.0.0-xgboost"
              }
            }
        },
        "MLFLOW_SERVER": {
          "protocols" : {
            "seldon": {
              "image": "seldonio/mlflowserver",
              "defaultImageVersion": "1.13.0"
              },
            "v2": {
              "image": "seldonio/mlserver",
              "defaultImageVersion": "1.0.0-mlflow"
              }
            }
        },
        "TRITON_SERVER": {
          "protocols" : {
            "v2": {
              "image": "nvcr.io/nvidia/tritonserver",
              "defaultImageVersion": "21.08-py3"
              }
            }
        },
        "TEMPO_SERVER": {
          "protocols" : {
            "v2": {
              "image": "seldonio/mlserver",
              "defaultImageVersion": "1.0.0-slim"
              }
            }
        }
    }
  storageInitializer: |-
    {
        "image" : "kfserving/storage-initializer:v0.6.1",
        "memoryRequest": "100Mi",
        "memoryLimit": "1Gi",
        "cpuRequest": "100m",
        "cpuLimit": "1"
    }
  explainer: |-
    {
        "image" : "seldonio/alibiexplainer:1.13.0",
        "image_v2" : "seldonio/mlserver:1.0.0-alibi-explain"
    }
