apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: seldon-controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: seldon-controller-manager
spec:
  selector:
    matchLabels:
      control-plane: seldon-controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        sidecar.istio.io/inject: 'false'
      labels:
        control-plane: seldon-controller-manager
    spec:
      serviceAccountName: manager
      securityContext:
        runAsUser: 8888
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election
        - --webhook-port=4443
        - --create-resources=$(MANAGER_CREATE_RESOURCES)
        - --log-level=$(MANAGER_LOG_LEVEL)
        env:
        - name: MANAGER_LOG_LEVEL
          value: "INFO"
        - name: WATCH_NAMESPACE
          value: ""
        - name: RELATED_IMAGE_EXECUTOR
          value: ""
        - name: RELATED_IMAGE_ENGINE
          value: ""
        - name: RELATED_IMAGE_STORAGE_INITIALIZER
          value: ""          
        - name: RELATED_IMAGE_SKLEARNSERVER
          value: ""          
        - name: RELATED_IMAGE_XGBOOSTSERVER
          value: ""          
        - name: RELATED_IMAGE_MLFLOWSERVER
          value: ""          
        - name: RELATED_IMAGE_TFPROXY
          value: ""          
        - name: RELATED_IMAGE_TENSORFLOW
          value: ""          
        - name: RELATED_IMAGE_EXPLAINER
          value: ""          
        - name: RELATED_IMAGE_MOCK_CLASSIFIER
          value: ""          
        - name: MANAGER_CREATE_RESOURCES          
          value: "false"
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: CONTROLLER_ID
          value: ""
        - name: AMBASSADOR_ENABLED
          value: "true"
        - name: AMBASSADOR_SINGLE_NAMESPACE
          value: "false"
        - name: ENGINE_CONTAINER_IMAGE_AND_VERSION
          value: docker.io/seldonio/engine:1.9.0-dev
        - name: ENGINE_CONTAINER_IMAGE_PULL_POLICY
          value: IfNotPresent
        - name: ENGINE_CONTAINER_SERVICE_ACCOUNT_NAME
          value: default
        - name: ENGINE_CONTAINER_USER
          value: "8888"
        - name: ENGINE_LOG_MESSAGES_EXTERNALLY
          value: "false"
        - name: PREDICTIVE_UNIT_HTTP_SERVICE_PORT
          value: "9000"
        - name: PREDICTIVE_UNIT_GRPC_SERVICE_PORT
          value: "9500"
        - name: PREDICTIVE_UNIT_DEFAULT_ENV_SECRET_REF_NAME
          value: ""
        - name: PREDICTIVE_UNIT_METRICS_PORT_NAME
          value: "metrics"
        - name: ENGINE_SERVER_GRPC_PORT
          value: "5001"
        - name: ENGINE_SERVER_PORT
          value: "8000"
        - name: ENGINE_PROMETHEUS_PATH
          value: "/prometheus"
        - name: ISTIO_ENABLED
          value: "false"
        - name: KEDA_ENABLED
          value: "false"
        - name: ISTIO_GATEWAY
          value: istio-system/seldon-gateway
        - name: ISTIO_TLS_MODE
          value: ""
        - name: USE_EXECUTOR
          value: "true"
        - name: EXECUTOR_CONTAINER_IMAGE_AND_VERSION
          value: seldonio/seldon-core-executor:1.9.0-dev
        - name: EXECUTOR_CONTAINER_IMAGE_PULL_POLICY
          value: IfNotPresent
        - name: EXECUTOR_PROMETHEUS_PATH
          value: "/prometheus"
        - name: EXECUTOR_SERVER_PORT
          value: "8000"
        - name: EXECUTOR_CONTAINER_USER
          value: "8888"          
        - name: EXECUTOR_CONTAINER_SERVICE_ACCOUNT_NAME
          value: default
        - name: EXECUTOR_SERVER_METRICS_PORT_NAME
          value: "metrics"
        - name: EXECUTOR_REQUEST_LOGGER_DEFAULT_ENDPOINT
          value: "http://default-broker"
        - name: DEFAULT_USER_ID
          value: ''
        - name: EXECUTOR_DEFAULT_CPU_REQUEST
          value: "0.5"
        - name: EXECUTOR_DEFAULT_MEMORY_REQUEST
          value: "512Mi"
        - name: EXECUTOR_DEFAULT_CPU_LIMIT
          value: "0.5"
        - name: EXECUTOR_DEFAULT_MEMORY_LIMIT
          value: "512Mi"
        - name: ENGINE_DEFAULT_CPU_REQUEST
          value: "0.5"
        - name: ENGINE_DEFAULT_MEMORY_REQUEST
          value: "512Mi"
        - name: ENGINE_DEFAULT_CPU_LIMIT
          value: "0.5"
        - name: ENGINE_DEFAULT_MEMORY_LIMIT
          value: "512Mi"
        image: controller:latest
        name: manager
        resources:
          limits:
            cpu: 500m
            memory: 300Mi
          requests:
            cpu: 100m
            memory: 200Mi
      terminationGracePeriodSeconds: 10
