groups:
- name: cpu-usage.rules
  rules:
  - alert: NodeCPUUsage
    expr: (100 - (avg by(instance) (irate(node_cpu{component="node-exporter",mode="idle"}[5m]))
      * 100)) > 75
    for: 2m
    labels:
      context: unknown
      severity: page
    annotations:
      DESCRIPTION: '{{$labels.instance}}: CPU usage is above 75% (current value is:
        {{ $value }})'
      SUMMARY: '{{$labels.instance}}: High CPU usage detected'
