numpy>=1.16.0,<2.0
pandas==0.23.4
grpcio>=1.14.0
Flask==1.0.2
flask-cors==3.0.3
futures
redis==2.10.5
tornado==4.5.3
flatbuffers==1.10
tensorflow>=1.10.1,<1.14
Flask-OpenTracing==0.2.0
Pillow==6.0.0
jaeger-client==3.13.0
grpcio-opentracing
pyyaml
minio >= 4.0.9
google-cloud-storage >= 1.16.0
azure-storage-blob >= 2.0.1
setuptools >= 41.0.0
