# Test and linters
black==20.8b1
coverage==5.4              # 2nd lvl dep on cov required to avoid sqllite dep
flake8==3.9.0
grpcio-tools==1.37.1
isort==5.9.0
mypy-protobuf==2.4
mypy<0.791
pandas==1.1.0                # used in serving_test_gen
pillow==8.1.1
pip-licenses==3.4.0          # fetch licenses
pytest-cov==2.10.1
pytest==6.2.2
pytest-mock==3.6.1
tenacity==6.3.1              # tenacity - used for smart retrying
nbqa==0.13.1
tox<4.0.0
