# Test and linters
black==19.10b0
flake8==3.8.1
mypy<0.791
Pillow==8.0.1
pytest==6.2.0
pytest-cov==2.10.1
tox<4.0.0
grpcio-tools==1.33.2
mypy-protobuf==1.22

# tenacity - used for smart retrying
tenacity==6.2.0

# 2nd lvl dep on cov required to avoid sqllite dep
coverage==5.3

# Used in serving_test_gen
pandas==1.2.0

# Fetch licenses
pip-licenses==3.1.0
