-r requirements.txt
black==19.10b0
flake8==3.8.1
mypy<0.771
Pillow==7.1.1
pytest==5.4.2
pytest-cov==2.8.1
tox<4.0.0
grpcio-tools==1.27.2
mypy-protobuf==1.20

# tenacity - used for smart retrying
tenacity==6.2.0

# 2nd lvl dep on cov required to avoid sqllite dep
coverage==5.1

# Used in serving_test_gen
pandas==1.0.1

# Fetch licenses
pip-licenses==2.2.0
