flask
flask-cors
redis
requests
numpy
flatbuffers
protobuf
grpcio
tensorflow==1.13.1
Flask-OpenTracing==0.2.0
opentracing>=1.2.2<2
jaeger-client==3.13.0
grpcio-opentracing
pyyaml
minio>=4.0.9
google-cloud-storage>=1.16.0
azure-storage-blob>=2.0.1
