apiVersion: v1
kind: Secret
metadata:
  name: "{{ minio_rclone_secret_name }}"
  labels:
    secret-type: bucket
    seldon-deploy: "true"
type: Opaque
stringData:
  RCLONE_CONFIG_{{ minio_rclone_remote_name }}_TYPE: s3
  RCLONE_CONFIG_{{ minio_rclone_remote_name }}_PROVIDER: minio
  RCLONE_CONFIG_{{ minio_rclone_remote_name }}_ENV_AUTH: "false"
  RCLONE_CONFIG_{{ minio_rclone_remote_name }}_ACCESS_KEY_ID: "{{ minio_access_key }}"
  RCLONE_CONFIG_{{ minio_rclone_remote_name }}_SECRET_ACCESS_KEY: "{{ minio_secret_key }}"
  RCLONE_CONFIG_{{ minio_rclone_remote_name }}_ENDPOINT: "http://minio.{{ minio_namespace }}.svc.cluster.local:9000"