bases:
- ../default

resources:
- role.yaml
- role_binding.yaml
- role_sas.yaml
- role_binding_sas.yaml

patchesStrategicMerge:
- patch_cluster_role.yaml
- patch_cluster_rolebinding.yaml
- patch_manager_args.yaml
- patch_cluster_role_sas.yaml
- patch_cluster_rolebinding_sas.yaml
- patch_namespace.yaml

configurations:
- webhook-config.yaml

patchesJson6902:
- target:
    group: admissionregistration.k8s.io
    version: v1beta1
    kind: ValidatingWebhookConfiguration
    name: validating-webhook-configuration
  path: patch_webhook_selectors.yaml
