# Default values for seldon-core.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cluster_manager:
  enabled: true
  spring_opts: ""
  # set the JAVA_OPTS
  #java_opts: "-agentlib:jdwp=transport=dt_socket,address=127.0.0.1:8000,server=y,suspend=n"
  java_opts: ""
  image:
    tag: "0.3"
    pull_policy: "IfNotPresent"
apife:
  image:
    tag: "0.1"
    pull_policy: "IfNotPresent"
engine:
  image:
    tag: "0.2"

kafka_core:
  image:
    tag: "0.1"
zookeeper:
  image:
    tag: "1.0"
redis:
  image:
    tag: "4.0.1"
kube_apiserver:
  enabled: false


alertmanager:
  # config disabled by default, create file "/files/alertmanager/config.yaml" then enable
  config:
    enabled: false


# set the grafana admin password
#grafana_prom_admin_password:

# Set the type of service for Grafana Prom
#grafana_prom_service_type: LoadBalancer
grafana_prom_service_type: NodePort

# Set the type of service for apife
#apife_service_type: LoadBalancer
apife_service_type: NodePort

# Persist data to a persitent volume
persistence:
  enabled: true

