jupyter-book==0.6.5
linkify-it-py==1.0.1
myst-parser==1.0.0
Sphinx==6.2.1
sphinx-autobuild==2021.3.14
sphinx-copybutton==0.5.0
sphinx-jinja2-compat==0.2.0
sphinx-material==0.0.32
sphinx-notfound-page==0.7.1
sphinx-panels==0.4.1
sphinx-tabs==3.4.1
sphinx-togglebutton==0.3.0
sphinx-toolbox==3.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.8.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-youtube==1.2.0