Sphinx==3.5.4
sphinx-material==0.0.32
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
myst-parser==0.14.0
linkify-it-py==1.0.1
sphinx-autobuild==2021.3.14
sphinx-panels==0.5.2
sphinx-tabs==3.0.0
sphinx-toolbox==2.18.0
sphinx-notfound-page==0.7.1
jupyter-book==0.6.5
sphinx-copybutton==0.5.0
sphinx-togglebutton==0.3.0
jinja2==3.0.1
