# # Seldon Core Operator 
# Below are the default values when installing Seldon Core

# ## Ingress Options
# You are able to choose between Istio and Ambassador

# If you have ambassador installed you can just use the enabled flag
ambassador:
  enabled: true
  singleNamespace: false
# When activating Istio, respecive virtual services will be created
# You must make sure you create the seldon-gateway as well
istio:
  enabled: false
  gateway: istio-system/seldon-gateway
  tlsMode: ""

# ## Install with Cert Manager
# See installation page in documentation for more information
certManager:
  enabled: false

# ## Install with limited namespace visibility
# If you want to ensure seldon-core-controller can only have visibility
#   to specifci namespaces you can set the controllerId
controllerId: ""

# Whether to create the webhook service, and webhookconfigurations on startup
createResources: false

# Default user id to add to all Pod Security Context as the default
# Use this to ensure all container run as non-root by default
# For openshift leave blank as usually this will be injected automatically on an openshift cluster
# to all pods.
defaultUserID: ""

# ## Service Orchestrator (Executor)
# The executor is the default service orchestrator which has superceeded the "Java Engine"
executor:
  enabled: true
  port: 8000
  grpc:
    port: 5001
  image:
    pullPolicy: IfNotPresent
    registry: docker.io
    repository: seldonio/seldon-core-executor
    tag: 1.1.0-SNAPSHOT_20200415092332
  prometheus:
    path: /prometheus
  serviceAccount:
    name: default
  user: 8888
# If you want to make available your own request logger for ELK integration you can set this
# For more information see the Production Integration for Payload Request Logging with ELK in the docs
  defaultRequestLoggerEndpointPrefix: 'http://default-broker.'

# ## Seldon Core Controller Manager Options
image:
  pullPolicy: IfNotPresent
  registry: docker.io
  repository: seldonio/seldon-core-operator
  tag: 1.1.0-SNAPSHOT_20200415092332
manager:
  cpuLimit: 500m
  cpuRequest: 100m
  memoryLimit: 300Mi
  memoryRequest: 200Mi
rbac:
  configmap:
    create: true
  create: true
serviceAccount:
  create: true
  name: seldon-manager
singleNamespace: false
storageInitializer:
  cpuLimit: "1"
  cpuRequest: 100m
  image: gcr.io/kfserving/storage-initializer:0.2.2
  memoryLimit: 1Gi
  memoryRequest: 100Mi
usageMetrics:
  enabled: false
webhook:
  port: 443

# ## Predictive Unit Values
predictiveUnit:
  port: 9000
  # If you would like to add extra environment variables to the init container to make available
  #   secrets such as cloud credentials, you can provide a default secret name that will be loaded
  #   to all the containers. You can then override this using the envSecretRefName in SeldonDeployments
  defaultEnvSecretRefName: ""
predictor_servers:
  MLFLOW_SERVER:
    grpc:
      defaultImageVersion: "0.4"
      image: seldonio/mlflowserver_grpc
    rest:
      defaultImageVersion: "0.4"
      image: seldonio/mlflowserver_rest
  SKLEARN_SERVER:
    grpc:
      defaultImageVersion: "0.2"
      image: seldonio/sklearnserver_grpc
    rest:
      defaultImageVersion: "0.2"
      image: seldonio/sklearnserver_rest
  TENSORFLOW_SERVER:
    grpc:
      defaultImageVersion: "0.7"
      image: seldonio/tfserving-proxy_grpc
    rest:
      defaultImageVersion: "0.7"
      image: seldonio/tfserving-proxy_rest
    tensorflow: true
    tfImage: tensorflow/serving:2.1.0
  XGBOOST_SERVER:
    grpc:
      defaultImageVersion: "0.3"
      image: seldonio/xgboostserver_grpc
    rest:
      defaultImageVersion: "0.3"
      image: seldonio/xgboostserver_rest

# ## Other
# You can choose the crds to not be installed if you already installed them
crd:
  create: true

# Warning: credentials will be depricated soon, please use defaultEnvSecretRefName above
# For more info please check the documentation 
credentials:
  gcs:
    gcsCredentialFileName: gcloud-application-credentials.json
  s3:
    s3AccessKeyIDName: awsAccessKeyID
    s3SecretAccessKeyName: awsSecretAccessKey

kubeflow: false

# ## Engine parameters
# Warning: Engine is being depricated in favour of Orchestrator
# FOr more information please read the Upgrading section in the documentation
engine:
  grpc:
    port: 5001
  image:
    pullPolicy: IfNotPresent
    registry: docker.io
    repository: seldonio/engine
    tag: 1.1.0-SNAPSHOT_20200415092332
  logMessagesExternally: false
  port: 8000
  prometheus:
    path: /prometheus
  serviceAccount:
    name: default
  user: 8888
