ambassador:
  enabled: true
  singleNamespace: false
certManager:
  enabled: false
controllerId: ''
crd:
  create: true
engine:
  grpc:
    port: 5001
  image:
    pullPolicy: IfNotPresent
    registry: docker.io
    repository: seldonio/engine
    tag: 1.0.1-SNAPSHOT
  logMessagesExternally: false
  port: 8000
  prometheus:
    path: prometheus
  securityContext:
    enabled: true
  serviceAccount:
    name: default
  user: 8888
image:
  pullPolicy: IfNotPresent
  registry: docker.io
  repository: seldonio/seldon-core-operator
  tag: 1.0.1-SNAPSHOT
istio:
  enabled: false
  gateway: seldon-gateway
  tlsMode: ''
predictiveUnit:
  port: 9000
rbac:
  configmap:
    create: true
  create: true
serviceAccount:
  create: true
  name: seldon-manager
singleNamespace: false
usageMetrics:
  enabled: false
webhook:
  port: 443
