name: V1 Alibi Explainer Tests

on: []

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.1.2
          virtualenvs-create: false

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          make -C components/alibi-explain-server dev_install

      - name: Lint
        run: |
          make -C components/alibi-explain-server lint

  python-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.1.2
          virtualenvs-create: false

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          make -C components/alibi-explain-server dev_install

      - name: test-python
        run: |
          make -C components/alibi-explain-server build_apis test
