name: V1 Docs Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  docs-lint:

    runs-on: ubuntu-latest
    container: seldonio/core-builder:0.30

    steps:
    - uses: actions/checkout@v4
    - name: docs-link-step
      run: |
        make -C doc install-dev linkcheck

  docs-build:

    runs-on: ubuntu-latest
    container: seldonio/core-builder:0.30

    # TODO Re-generate OpenInference Protocol v2 README
    steps:
    - uses: actions/checkout@v4
    - name: docs-build-step
      run: |
        make -C doc install-dev html
