name: V1 Executor Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  executor-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v3      
      with:
        go-version: '^1.17.0'
    - name: test-executor
      run: |
        make -C executor test
