name: Build & Push Docker Images

on:
  push:
    branches: [ master ]

  workflow_dispatch:
    inputs:
      docker-tag:
        description: 'Docker tag for push (e.g. 2.0.0)'
        default: 'latest'
        required: false

env:
  GOLANG_VERSION: 1.24.7

jobs:
  operator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set default docker tag for builds from master
        id: docker-tag
        run: |
          USER_INPUT="${{ github.event.inputs.docker-tag }}"
          echo "value=${USER_INPUT:-latest}" >> $GITHUB_OUTPUT

      - name: Build and push
        working-directory: ./operator/
        env:
          VERSION: ${{ steps.docker-tag.outputs.value }}
        run: |
          make docker-build docker-push
          TAG="$(make show_image)"
          echo "SELDON_OPERATOR_IMG=$TAG" >> $GITHUB_ENV
          echo "Operator tag: SELDON_OPERATOR_IMG"

      - name: Monitor docker image for CVEs
        # only want to monitor images which we have set a release tag for
        if: ${{ github.event.inputs.docker-tag != '' }}
        uses: snyk/actions/docker@master
        continue-on-error: false
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ env.SELDON_OPERATOR_IMG }}
          command: monitor
          args:  --app-vulns --severity-threshold=high --file=operator/Dockerfile

      - name: Free up space by removing the Docker Builder caches
        run: docker builder prune -af

  executor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set default docker tag for builds from master
        id: docker-tag
        run: |
          USER_INPUT="${{ github.event.inputs.docker-tag }}"
          echo "value=${USER_INPUT:-latest}" >> $GITHUB_OUTPUT

      - name: Build and push
        working-directory: ./executor/
        env:
          VERSION: ${{ steps.docker-tag.outputs.value }}
        run: |
          make docker-build docker-push
          TAG="$(make show_image)"
          echo "SELDON_EXECUTOR_IMG=$TAG" >> $GITHUB_ENV
          echo "Executor tag: $SELDON_EXECUTOR_IMG"

      - name: Monitor docker image for CVEs
        # only want to monitor images which we have set a release tag for
        if: ${{ github.event.inputs.docker-tag != '' }}
        uses: snyk/actions/docker@master
        continue-on-error: false
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ env.SELDON_EXECUTOR_IMG }}
          command: monitor
          args:  --app-vulns --severity-threshold=high --file=executor/Dockerfile

      - name: Free up space by removing the Docker Builder caches
        run: docker builder prune -af

  rclone-storage-initializer:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git Commit
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set default docker tag for builds from master
        id: docker-tag
        run: |
          USER_INPUT="${{ github.event.inputs.docker-tag }}"
          echo "value=${USER_INPUT:-latest}" >> $GITHUB_OUTPUT

      - name: Build and push (Rclone Storage Initializer)
        working-directory: ./components/rclone-storage-initializer
        env:
          VERSION: ${{ steps.docker-tag.outputs.value }}
        run: |
          make docker-build docker-push
          TAG="$(make show_image)"
          echo "SELDON_RCLONE_IMG=$TAG" >> $GITHUB_ENV
          echo "Rclone tag: $SELDON_RCLONE_IMG"

      - name: Monitor docker image for CVEs
        # only want to monitor images which we have set a release tag for
        if: ${{ github.event.inputs.docker-tag != '' }}
        uses: snyk/actions/docker@master
        continue-on-error: false
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ env.SELDON_RCLONE_IMG }}
          command: monitor
          args:  --app-vulns --severity-threshold=high --file=./components/rclone-storage-initializer/Dockerfile

      - name: Free up space by removing the Docker Builder caches
        run: docker builder prune -af

  s2i-wrapper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git Commit
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set default docker tag for builds from master
        id: docker-tag
        run: |
          USER_INPUT="${{ github.event.inputs.docker-tag }}"
          echo "value=${USER_INPUT:-latest}" >> $GITHUB_OUTPUT

      - name: Build and push (Conda Base Image)
        working-directory: ./wrappers/s2i/python
        env:
          VERSION: ${{ steps.docker-tag.outputs.value }}
        run: |
          make docker-build-conda-base docker-push-conda-base
          TAG="$(make show_conda_image)"
          echo "SELDON_CONDA_IMG=$TAG" >> $GITHUB_ENV
          echo "Conda tag: $SELDON_CONDA_IMG"

      - name: Monitor (Conda base) docker image for CVEs
        # only want to monitor images which we have set a release tag for
        if: ${{ github.event.inputs.docker-tag != '' }}
        uses: snyk/actions/docker@master
        continue-on-error: false
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ env.SELDON_CONDA_IMG }}
          command: monitor
          args:  --app-vulns --severity-threshold=high --file=./wrappers/s2i/python/Dockerfile.conda


      - name: Build and push (Base Wrapper)
        working-directory: ./wrappers/s2i/python
        env:
          VERSION: ${{ steps.docker-tag.outputs.value }}
        run: |
          make docker-build docker-push PYTHON_VERSION=3.12.12
          make docker-tag-base-python docker-push-base-python PYTHON_VERSION=3.12.12
          docker save -o /tmp/base-wrapper.tar seldonio/seldon-core-s2i-python312:${VERSION}
          TAG="$(make show_python_wrapper_image)"
          echo "PYTHON_BASE_WRAPPER_IMG=$TAG" >> $GITHUB_ENV
          echo "Python base wrapper tag: $PYTHON_BASE_WRAPPER_IMG"

      - name: Monitor (base wrapper) docker image for CVEs
        # only want to monitor images which we have set a release tag for
        if: ${{ github.event.inputs.docker-tag != '' }}
        uses: snyk/actions/docker@master
        continue-on-error: false
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ env.PYTHON_BASE_WRAPPER_IMG }}
          command: monitor
          args:  --app-vulns --severity-threshold=high --file=./wrappers/s2i/python/Dockerfile


      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: base-wrapper
          path: /tmp/base-wrapper.tar

  prepackaged-components:
    runs-on: ubuntu-latest
    needs: s2i-wrapper
    strategy:
      matrix:
        server:
        - servers/sklearnserver
        - servers/xgboostserver
        - servers/mlflowserver
        - servers/tfserving_proxy
        - components/alibi-explain-server
        - components/alibi-detect-server
        - components/routers/epsilon-greedy
        - examples/models/mean_classifier
        - testing/docker/echo-model
    steps:
      - name: Checkout Git Commit
        uses: actions/checkout@v4

      - name: Free up disk space (android, haskell, dotnet)
        run: |
          sudo rm -rf /usr/local/lib/android || true
          sudo rm -rf /opt/ghc || true
          sudo rm -rf /usr/share/dotnet || true
          df -h
      
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set default docker tag for builds from master
        id: docker-tag
        run: |
          USER_INPUT="${{ github.event.inputs.docker-tag }}"
          echo "value=${USER_INPUT:-latest}" >> $GITHUB_OUTPUT

      - name: Install CLI tools from OpenShift Mirror
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          github_pat: ${{ github.token }}
          source: "github"
          s2i: "latest"

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: base-wrapper
          path: /tmp

      - name: Load image
        run: |
          docker load --input /tmp/base-wrapper.tar

      - name: Remove tarball
        run: rm -f /tmp/base-wrapper.tar

      - name: Build and push (Prepackaged Server Image)
        working-directory: ./${{ matrix.server }}/
        env:
          VERSION: ${{ steps.docker-tag.outputs.value }}
        run: |
          make docker-build docker-push
          TAG="$(make show_image)"
          echo "IMG_TAG=$TAG" >> $GITHUB_ENV
          echo "${{ matrix.server }} image tag: $IMG_TAG"

      - name: Monitor docker image for CVEs
        # only want to monitor images which we have set a release tag for
        if: ${{ github.event.inputs.docker-tag != '' }}
        uses: snyk/actions/docker@master
        continue-on-error: false
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ env.IMG_TAG }}
          command: monitor
          args: --app-vulns --severity-threshold=high

      - name: Free up space by removing the Docker Builder caches
        run: docker builder prune -af