name: V2 Lint
on:
  pull_request:
jobs:
  lint:
    name: lint
    if: github.repository == 'SeldonIO/seldon-core' # Do not run this on forks.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.19'
      - name: lint-operator
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: operator
          # NOTE: We need to skip the pkg cache until the following issue is
          # resolved (same applies to the other steps):
          # https://github.com/golangci/golangci-lint-action/issues/677
          skip-pkg-cache: true
      - name: lint-scheduler
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: scheduler
          skip-pkg-cache: true
      - name: lint-hodometer
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: hodometer
          skip-pkg-cache: true
      - name: lint-tls
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.51.2
          working-directory: components/tls
          skip-pkg-cache: true
          args: --timeout 3m --verbose
