name: V2 Lint
on:
  pull_request:
jobs:
  lint:
    name: lint
    if: github.repository == 'SeldonIO/seldon-core' # Do not run this on forks.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.18.5'
      - name: lint-operator
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: operator
          skip-go-installation: true
      - name: lint-scheduler
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: scheduler
          skip-go-installation: true
      - name: lint-hodometer
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: hodometer
          skip-go-installation: true
      - name: lint-tls
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.51.2
          working-directory: components/tls
          skip-go-installation: true
          args: --timeout 3m --verbose
