name: V2 Lint
on:
  pull_request:
jobs:
  lint:
    name: lint
    if: github.repository == 'SeldonIO/seldon-core' # Do not run this on forks.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20.13'
          cache: false
      - name: lint-operator
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: operator
          skip-cache: true
      - name: lint-scheduler
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: scheduler
          skip-cache: true
      - name: lint-hodometer
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: hodometer
          skip-cache: true
      - name: lint-tls
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.51.2
          working-directory: components/tls
          skip-cache: true
          args: --timeout 3m --verbose
