name: V1 Python Lint

on:
  push:
    branches:
      - master
      - release-1.19.0-prep
      - fix-python-linting-errors
  pull_request:
    # TODO revert before merge to master
    branches: [ release-1.19.0-prep ]
  workflow_dispatch:

env:
  GITHUB_USER: seldondev

jobs:
  python-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    container: seldonio/python-builder:0.9

    steps:
    - name: Resolve branch
      run: |
        if [ "${{ github.event_name }}" = "push" ]; then
          echo "BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
        else
          echo "BRANCH=${{ github.head_ref }}" >> $GITHUB_ENV
        fi

    - uses: actions/checkout@v4
      with:
        ref: ${{ env.BRANCH }}
        fetch-depth: '0'

    - name: Install dev deps
      run: make -C python install_dev update_package install

    - name: Lint
      run: make -C python lint

    - name: Make licenses
      run: make -C python licenses

    - name: Configure git user
      run: |
        git config --global user.name "${GITHUB_USER}"
        git config --global user.email "${GITHUB_USER}@users.noreply.github.com"
        git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Commit changes in licensing
      if: github.event_name == 'push'
      run: |
        git add python/ && git commit -m "chore: automatically push the changed licenses files" || echo "Nothing to commit"
        git push
