name: V1 Python Lint

on:
  push:
    branches: [ master ]
  pull_request:
    # TODO revert before merge to master
    branches: [ release-1.19.0-prep ]
  workflow_dispatch:

jobs:
  python-lint:

    runs-on: ubuntu-latest
    container: seldonio/python-builder:0.9
    env:
      GIT_DISCOVERY_ACROSS_FILESYSTEM: 1

    steps:
    - uses: actions/checkout@v4
    - name: lint-python
      run: |
        git --version
        make -C python install_dev lint
