name: V1 Python Lint

on:
  push:
    branches: [ master ]
  pull_request:
    # TODO revert before merge to master
    branches: [ fix/core-1-CVEs ]

jobs:
  python-lint:

    runs-on: ubuntu-latest
    container: seldonio/python-builder:0.9

    steps:
    - uses: actions/checkout@v2
    - name: lint-python
      run: |
        make -C python install_dev lint
