name: V1 Python Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  python-tests:

    runs-on: ubuntu-latest
    container: seldonio/python-builder:0.9

    steps:
    - uses: actions/checkout@v2
    - name: test-python
      run: |
        make -C python install_dev update_package test
