name: V1 Python Tests

on:
  push:
    # TODO revert before merge to master
    branches: '*'
  pull_request:
    # TODO revert before merge to master
    branches: '*'

jobs:
  python-tests:

    runs-on: ubuntu-latest
    container: seldonio/python-builder:0.9

    steps:
    - uses: actions/checkout@v2
    - name: test-python
      run: |
        make -C python install_dev update_package test
