name: Build & Push the Python Builder Image

on:
  workflow_dispatch:
    inputs:
      docker-tag:
        description: 'Docker tag for push (e.g. 2.0.0)'
        required: true

env:
  GOLANG_VERSION: 1.24.7

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        working-directory: ./python-builder/
        run: |
          make DOCKER_IMAGE_VERSION="${{ github.event.inputs.docker-tag }}" build_docker_image
          make DOCKER_IMAGE_VERSION="${{ github.event.inputs.docker-tag }}" push_to_registry
