name: V1 Python Tests

on:
  push:
  pull_request:
    # TODO revert before merge to master
    branches: [ fix/core-1-CVEs ]

jobs:
  python-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Build python builder image
      run: docker build -t seldonio/python-builder:ci python-builder
   
    - name: test-python
      run: |
        docker run --rm \
          -v "${{ github.workspace }}:/work" \
          -w /work \
          seldonio/python-builder:ci \
          bash -lc "make -C python update_package install_dev test"
