name: V1 Security Tests Python Images

on:
  push:
    branches: [ master ]
  pull_request:
    # TODO remove release-1.19.0-prep before merge to master
    branches:
      - master
      - release-1.19.0-prep
  workflow_dispatch:
jobs:
  build-upload-scan-base-images:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Free up disk space (android, haskell, dotnet)
      run: |
        sudo rm -rf /usr/local/lib/android || true
        sudo rm -rf /opt/ghc || true
        sudo rm -rf /usr/share/dotnet || true
        df -h

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Build and scan the Conda base image
    - name: Generate and set docker Conda image tag
      run: |
        TAG_CONDA="sec-tests/conda-base-$(date +%s)-$(openssl rand -hex 4)"
        echo "CONDA_BASE_IMAGE=$TAG_CONDA" >> $GITHUB_ENV
        TAG_PYTHON="sec-tests/python-base-$(date +%s)-$(openssl rand -hex 4)"
        echo "PYTHON_BASE_IMAGE=$TAG_PYTHON" >> $GITHUB_ENV        
        echo "Generated Conda Base Image tag: $CONDA_BASE_IMAGE"
        echo "Generated Python Wrapper Image tag: $PYTHON_BASE_IMAGE"
    - name: Build (Conda Base Image)
      working-directory: ./wrappers/s2i/python
      run: |
        make CONDA_BASE_IMAGE=${{ env.CONDA_BASE_IMAGE}} VERSION=test docker-build-conda-base
        docker save -o /tmp/conda-image.tar ${{ env.CONDA_BASE_IMAGE}}:test
    - name: Scan Conda image
      id: scan-conda
      uses: snyk/actions/docker@master
      continue-on-error: true
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: ${{ env.CONDA_BASE_IMAGE}}:test
        args:  --fail-on=upgradable --app-vulns --severity-threshold=high --file=wrappers/s2i/python/Dockerfile.conda

    # Build and scan the Python Wrapper base image
    - name: Build (Base Wrapper)
      working-directory: ./wrappers/s2i/python
      run: |
        make CONDA_BASE_IMAGE=${{ env.CONDA_BASE_IMAGE}} VERSION=test IMAGE_NAME=${{ env.PYTHON_BASE_IMAGE}} docker-build PYTHON_VERSION=3.12.12 CONDA_VERSION=25.3.1 BASE_IMAGE=$${{ env.CONDA_BASE_IMAGE }}
        docker save -o /tmp/python-wrapper-image.tar ${{ env.PYTHON_BASE_IMAGE}}:test
    - name: Scan Python base image
      id: scan-python-base
      uses: snyk/actions/docker@master
      continue-on-error: true
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: ${{ env.PYTHON_BASE_IMAGE}}:test
        args: --fail-on=upgradable --app-vulns --severity-threshold=high --file=wrappers/s2i/python/Dockerfile

    - name: Upload Conda base image
      uses: actions/upload-artifact@v4
      with:
        name: conda-base-image
        path: /tmp/conda-image.tar

    - name: Upload Python Wrapper image
      uses: actions/upload-artifact@v4
      with:
        name: python-wrapper-image
        path: /tmp/python-wrapper-image.tar

  build-servers:
    needs: build-upload-scan-base-images
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        server:
          - tfserving_proxy
          - sklearnserver
          - mlflowserver
          - xgboostserver
    steps:
    - uses: actions/checkout@v4

    # Download Conda base image
    - uses: actions/download-artifact@v4
      with:
        name: conda-base-image
    # Download Python Wrapper image
    - uses: actions/download-artifact@v4
      with:
        name: python-wrapper-image
    - name: Load images
      run: |
        docker load -i conda-image.tar
        docker load -i python-wrapper-image.tar

    - name: Install s2i CLI - needed for building the server images
      uses: redhat-actions/openshift-tools-installer@v1
      with:
        github_pat: ${{ github.token }}
        source: "github"
        s2i: "latest"

    - name: Build server
      id: build-server
      continue-on-error: true
      working-directory: ./servers/${{ matrix.server }}
      run: |
        export SERVER_IMAGE_TAG="sec-tests/${{ matrix.server }}-$(date +%s)-$(openssl rand -hex 4)"
        echo "SERVER_IMAGE_TAG=SERVER_IMAGE_TAG" >> $GITHUB_ENV
        make IMAGE_NAME=SERVER_IMAGE_TAG VERSION=test BASE_IMAGE=${{ env.PYTHON_BASE_IMAGE}}:test docker-build
    - name: Scan
      id: scan
      uses: snyk/actions/docker@master
      continue-on-error: true
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: ${{ env.SERVER_IMAGE_TAG}}:test
        args:  --fail-on=upgradable --app-vulns --severity-threshold=high
    - name: Set scan output
      id: set-scan-output
      run: |
        if [ "${{ steps.scan.outcome }}" = "success" ]; then
          echo "scan_ok=true" >> $GITHUB_OUTPUT
        else
          echo "scan_ok=false" >> $GITHUB_OUTPUT
        fi

  verify-scans:
    needs: build-servers
    runs-on: ubuntu-latest
    if: always()

    steps:
    - name: Install jq
      run: sudo apt-get update && sudo apt-get install -y jq
    - name: Fail if any scan failed
      run: |
        echo "Checking scan results..."
        
        # Convert JSON to readable text
        echo '${{ toJson(needs.build-servers) }}' > results.json
        
        # Extract scan_ok values
        fails=$(jq '[ .[] | select(.outputs.scan_ok == "false") ] | length' results.json)
        
        if [ "$fails" -gt 0 ]; then
          echo "$fails image scans failed"
          exit 1
        else
          echo "All image scans succeeded"
        fi