name: V2 Build docker images

on: []

jobs:
  placeholder:
    name: placeholder
    runs-on: ubuntu-latest
    if: github.repository == 'seldonio/seldon-core' # Do not run this on forks.
    steps:
    - name: Echo Message
      run: echo "This is to make workflow available for V2 releases"
