name: V1 Security Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  GOLANG_VERSION: 1.20.9

jobs:
  python:
    runs-on: ubuntu-latest
    container: snyk/snyk:python-3.8
    steps:
    - uses: actions/checkout@v2
    - name: security-python
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      run: |
        pip install -e python/.
        snyk test --file=python/setup.py --fail-on=upgradable --severity-threshold=high

  image-executor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Generate and set docker image tag
        run: |
          TAG="executor-test-$(date +%s)-$(openssl rand -hex 4)"
          echo "SELDON_EXECUTOR_IMG=$TAG" >> $GITHUB_ENV
          echo "Generated tag: SELDON_EXECUTOR_IMG"
      - name: Build docker image
        working-directory: ./executor/
        env:
          VERSION: ${{ steps.docker-tag.outputs.value }}
        run: |
          make docker-build
      - name: Scan docker image for CVEs
        uses: snyk/actions/docker@master
        continue-on-error: false
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: ${{ env.SELDON_EXECUTOR_IMG }}
          args: --app-vulns --severity-threshold=high --file=executor/Dockerfile.executor

  image-operator:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Generate and set docker image tag
      run: |
        TAG="operator-test-$(date +%s)-$(openssl rand -hex 4)"
        echo "SELDON_OPERATOR_IMG=$TAG" >> $GITHUB_ENV
        echo "Generated tag: SELDON_OPERATOR_IMG"
    - name: Build docker image
      working-directory: ./operator/
      env:
        VERSION: ${{ steps.docker-tag.outputs.value }}
      run: |
        make docker-build
    - name: Scan docker image for CVEs
      uses: snyk/actions/docker@master
      continue-on-error: false
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: ${{ env.SELDON_OPERATOR_IMG }}
        args:  --app-vulns --severity-threshold=high --file=operator/Dockerfile


  image-python-base:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Generate and set docker Conda image tag
      run: |
        TAG_CONDA="conda-base-$(date +%s)-$(openssl rand -hex 4)"
        echo "CONDA_BASE_IMAGE=$TAG_CONDA" >> $GITHUB_ENV
        TAG_PYTHON="python-base-$(date +%s)-$(openssl rand -hex 4)"
        echo "PYTHON_BASE_IMAGE=$TAG_PYTHON" >> $GITHUB_ENV        
        echo "Generated tag: PYTHON_BASE_IMAGE"
    - name: Build (Conda Base Image)
      working-directory: ./wrappers/s2i/python
      run: |
        make CONDA_BASE_IMAGE=${{ env.CONDA_BASE_IMAGE}} docker-build-conda-base
    - name: Build (Base Wrapper)
      working-directory: ./wrappers/s2i/python
      run: |
        make IMAGE_NAME=${{ env.PYTHON_BASE_IMAGE}} docker-build PYTHON_VERSION=3.8.10
    - name: Scan Python base image
      uses: snyk/actions/docker@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: ${{ env.PYTHON_BASE_IMAGE}}
        args:  --app-vulns --severity-threshold=high --file=wrappers/s2i/python/Dockerfile

#  security-image-python-sklearn:
#    runs-on: ubuntu-latest
#    steps:
#    - name: security-image-python-sklearn
#      uses: snyk/actions/docker@master
#      env:
#        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
#      with:
#        image: seldonio/sklearnserver:1.18.2
#        args: --fail-on=upgradable --app-vulns --severity-threshold=high

#
#  security-image-python-mlflow:
#
#    runs-on: ubuntu-latest
#    steps:
#    - name: security-image-python-mlflow
#      uses: snyk/actions/docker@master
#      env:
#        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
#      with:
#        image: seldonio/mlflowserver:1.18.2
#        args: --fail-on=upgradable --app-vulns --severity-threshold=high
#
#  security-image-python-xgboost:
#
#    runs-on: ubuntu-latest
#    steps:
#    - name: security-image-python-xgboost
#      uses: snyk/actions/docker@master
#      env:
#        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
#      with:
#        image: seldonio/xgboostserver:1.18.2
#        args: --fail-on=upgradable --app-vulns --severity-threshold=high
#
#  security-image-alibi-explain:
#
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v2
#    - name: security-image-alibi-explain
#      uses: snyk/actions/docker@master
#      env:
#        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
#      with:
#        image: seldonio/alibiexplainer:1.18.2
#        args: --fail-on=upgradable --app-vulns --severity-threshold=high --file=components/alibi-explain-server/Dockerfile
#
#  security-image-alibi-detect:
#
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v2
#    - name: security-image-alibi-detect
#      uses: snyk/actions/docker@master
#      env:
#        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
#      with:
#        image: seldonio/alibi-detect-server:1.18.2
#        args: --fail-on=upgradable --app-vulns --severity-threshold=high --file=components/alibi-detect-server/Dockerfile
#
#  security-image-initializer-rclone:
#
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v2
#    - name: security-image-request-logger
#      uses: snyk/actions/docker@master
#      env:
#        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
#      with:
#        image: seldonio/rclone-storage-initializer:1.18.2
#        args: --fail-on=upgradable --app-vulns --severity-threshold=high --file=components/rclone-storage-initializer/Dockerfile
