name: V2 Tests
on:
  pull_request:
jobs:
  test:
    name: test
    if: github.repository == 'SeldonIO/seldon-core' # Do not run this on forks.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24"
          cache: true
          cache-dependency-path: |
            hodometer/go.sum
            operator/go.sum
            scheduler/go.sum
            components/kafka/go.sum
            components/tls/go.sum
            apis/go/go.sum
            tests/integration/go.sum
      - name: test-operator
        run: make -C operator test
      - name: test-scheduler
        run: make -C scheduler test
      - name: test-hodometer
        run: make -C hodometer test
      - name: test-components-tls
        run: make -C components/tls test
      - name: test-components-kafka
        run: make -C components/kafka test
      - name: check CRDs changes
        run: | 
          make -C operator generate manifests
          git diff --exit-code
      - name: check helm changes
        run: | 
          make -C k8s create
          git diff --exit-code
      - name: check go generate
        run: |
          make go-generate-with-copyright
          git diff --exit-code