name: V2 Tests
on:
  pull_request:
jobs:
  test:
    name: test
    if: github.repository == 'sakoush/seldon-core' # Do not run this on forks.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          cache: false
      - name: test-operator
        run: make -C operator test
      - name: test-scheduler
        run: make -C scheduler test
      - name: test-hodometer
        run: make -C hodometer test
