apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: seldon
    app.kubernetes.io/instance: '{{ .Release.Name }}'
    app.kubernetes.io/name: '{{ include "seldon.name" . }}'
    app.kubernetes.io/version: '{{ .Chart.Version }}'
    control-plane: seldon-controller-manager
  name: seldon-controller-manager
  namespace: '{{ include "seldon.namespace" . }}'
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seldon
      app.kubernetes.io/instance: seldon1
      app.kubernetes.io/name: seldon
      app.kubernetes.io/version: v0.5
      control-plane: seldon-controller-manager
  template:
    metadata:
      annotations:
{{- with .Values.manager.annotations }}
{{- toYaml . | nindent 8}}
{{- end }}
        prometheus.io/scrape: 'true'
        sidecar.istio.io/inject: 'false'
      labels:
        app: seldon
        app.kubernetes.io/instance: seldon1
        app.kubernetes.io/name: seldon
        app.kubernetes.io/version: v0.5
        control-plane: seldon-controller-manager
    spec:
      containers:
      - args:
        - --enable-leader-election
        - --webhook-port={{ .Values.webhook.port }}
        - --create-resources=$(MANAGER_CREATE_RESOURCES)
        - --log-level=$(MANAGER_LOG_LEVEL)
        - --leader-election-id=$(MANAGER_LEADER_ELECTION_ID)
        - '{{- if .Values.singleNamespace }}--namespace={{ include "seldon.namespace" . }}{{- end }}'
{{- with .Values.manager.containerSecurityContext }}
{{- toYaml . | nindent 8}}
{{- end }}
        command:
        - /manager
        env:
        - name: MANAGER_LEADER_ELECTION_ID
          value: '{{ .Values.manager.leaderElectionID }}'
        - name: MANAGER_LOG_LEVEL
          value: '{{ .Values.manager.logLevel }}'
        - name: WATCH_NAMESPACE
          value: ''
        - name: RELATED_IMAGE_EXECUTOR
          value: ''
        - name: RELATED_IMAGE_STORAGE_INITIALIZER
          value: ''
        - name: RELATED_IMAGE_SKLEARNSERVER
          value: ''
        - name: RELATED_IMAGE_XGBOOSTSERVER
          value: ''
        - name: RELATED_IMAGE_MLFLOWSERVER
          value: ''
        - name: RELATED_IMAGE_TFPROXY
          value: ''
        - name: RELATED_IMAGE_TENSORFLOW
          value: ''
        - name: RELATED_IMAGE_EXPLAINER
          value: ''
        - name: RELATED_IMAGE_MOCK_CLASSIFIER
          value: ''
        - name: MANAGER_CREATE_RESOURCES
          value: '{{ .Values.managerCreateResources }}'
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: CONTROLLER_ID
          value: '{{ .Values.controllerId }}'
        - name: AMBASSADOR_ENABLED
          value: '{{ .Values.ambassador.enabled }}'
        - name: AMBASSADOR_SINGLE_NAMESPACE
          value: '{{ .Values.ambassador.singleNamespace }}'
        - name: PREDICTIVE_UNIT_HTTP_SERVICE_PORT
          value: '{{ .Values.predictiveUnit.httpPort }}'
        - name: PREDICTIVE_UNIT_GRPC_SERVICE_PORT
          value: '{{ .Values.predictiveUnit.grpcPort }}'
        - name: PREDICTIVE_UNIT_DEFAULT_ENV_SECRET_REF_NAME
          value: '{{ .Values.predictiveUnit.defaultEnvSecretRefName }}'
        - name: PREDICTIVE_UNIT_METRICS_PORT_NAME
          value: '{{ .Values.predictiveUnit.metricsPortName }}'
        - name: ISTIO_ENABLED
          value: '{{ .Values.istio.enabled }}'
        - name: KEDA_ENABLED
          value: '{{ .Values.keda.enabled }}'
        - name: ISTIO_GATEWAY
          value: '{{ .Values.istio.gateway }}'
        - name: ISTIO_TLS_MODE
          value: '{{ .Values.istio.tlsMode }}'
        - name: USE_EXECUTOR
          value: 'true'
        - name: EXECUTOR_CONTAINER_IMAGE_AND_VERSION
          value: '{{ .Values.executor.image.registry }}/{{ .Values.executor.image.repository }}:{{ .Values.executor.image.tag }}'
        - name: EXECUTOR_CONTAINER_IMAGE_PULL_POLICY
          value: '{{ .Values.executor.image.pullPolicy }}'
        - name: EXECUTOR_PROMETHEUS_PATH
          value: '{{ .Values.executor.prometheus.path }}'
        - name: EXECUTOR_SERVER_PORT
          value: '{{ .Values.executor.port }}'
        - name: EXECUTOR_CONTAINER_USER
          value: '{{ .Values.executor.user }}'
        - name: EXECUTOR_CONTAINER_SERVICE_ACCOUNT_NAME
          value: '{{ .Values.executor.serviceAccount.name }}'
        - name: EXECUTOR_SERVER_METRICS_PORT_NAME
          value: '{{ .Values.executor.metricsPortName }}'
        - name: EXECUTOR_REQUEST_LOGGER_DEFAULT_ENDPOINT
          value: '{{ .Values.executor.requestLogger.defaultEndpoint }}'
        - name: EXECUTOR_REQUEST_LOGGER_WORK_QUEUE_SIZE
          value: '{{ .Values.executor.requestLogger.workQueueSize }}'
        - name: EXECUTOR_REQUEST_LOGGER_WRITE_TIMEOUT_MS
          value: '{{ .Values.executor.requestLogger.writeTimeoutMs }}'
        - name: DEFAULT_USER_ID
          value: '{{ .Values.defaultUserID }}'
        - name: EXECUTOR_DEFAULT_CPU_REQUEST
          value: '{{ .Values.executor.resources.cpuRequest }}'
        - name: EXECUTOR_DEFAULT_MEMORY_REQUEST
          value: '{{ .Values.executor.resources.memoryRequest }}'
        - name: EXECUTOR_DEFAULT_CPU_LIMIT
          value: '{{ .Values.executor.resources.cpuLimit }}'
        - name: EXECUTOR_DEFAULT_MEMORY_LIMIT
          value: '{{ .Values.executor.resources.memoryLimit }}'
        - name: DEPLOYMENT_NAME_AS_PREFIX
          value: '{{ .Values.manager.deploymentNameAsPrefix }}'
        image: '{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}'
        imagePullPolicy: '{{ .Values.image.pullPolicy }}'
        name: manager
        ports:
        - containerPort: {{ .Values.webhook.port }}
          name: webhook-server
          protocol: TCP
        - containerPort: 8080
          name: metrics
          protocol: TCP
        resources:
          limits:
            cpu: '{{ .Values.manager.cpuLimit }}'
            memory: '{{ .Values.manager.memoryLimit }}'
          requests:
            cpu: '{{ .Values.manager.cpuRequest }}'
            memory: '{{ .Values.manager.memoryRequest }}'
{{- if not .Values.managerCreateResources }}
        volumeMounts:
        - mountPath: /tmp/k8s-webhook-server/serving-certs
          name: cert
          readOnly: true
{{- end }}
      securityContext:
        runAsUser: {{ .Values.managerUserID }}
      serviceAccountName: '{{ .Values.serviceAccount.name }}'
      terminationGracePeriodSeconds: 10
{{- if not .Values.managerCreateResources }}
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: seldon-webhook-server-cert
{{- end }}
